{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {%  block body %}
        {% for list in lists %}
             <li>
                 <h3>- {{  list.nomTache }}</h3>

             </li>
             <li></li>
        {% endfor %}
    {% endblock %}
{% endblock %}

