{% extends "AppBundle::layout.html.twig" %}

{% block content %}
        {% for list in lists %}
             <li>
                 <h3>- {{list.id }} - {{list.nomTache }} - {{ list.etat }} - {{ list.liste }}</h3>
             </li>

        {% endfor %}
{% endblock %}

